################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/app/FileContentIndex/0351526a-6e47-44e8-8c94-ec0516995f02.vsidx
/.vs/app/FileContentIndex/0d54d5a0-1aef-4090-8cad-724b14614b04.vsidx
/.vs/app/FileContentIndex/26d48315-315a-44c9-a260-28911771fa21.vsidx
/.vs/app/FileContentIndex/40c24468-4988-4210-9cfc-bf3a14121493.vsidx
/.vs/app/FileContentIndex/8cb5ac4b-7895-4694-8324-6f6afcfa167a.vsidx
/.vs/app/FileContentIndex/8f056315-e393-4fb5-bf5c-fd11c40d7e22.vsidx
/.vs/app/FileContentIndex/a6ce8f97-4fa0-48aa-9101-324124df15ab.vsidx
/.vs/app/FileContentIndex/ed2db5ad-8505-4d64-90d3-babef3a454a3.vsidx
